In [1]:
import polars as pl

In [2]:
df1 = pl.DataFrame({"a": [1, 2, 3, 4, 5], "b": [1, 3, 4, 4, 5]})

df2 = pl.DataFrame({"a": [1, 2, 3, 4, 5], "b": [0, 3, 4, 5, 6]})
ctx = pl.SQLContext(df1=df1, df2=df2)

In [35]:
ctx.execute(
    """
    SELECT * FROM df1 
        INNER JOIN df2 ON df1.a = df2.a AND df1.b = df2.b
    """,
    eager=True,
)

InvalidOperationError: SQL join constraint On(BinaryOp { left: BinaryOp { left: CompoundIdentifier([Ident { value: "df1", quote_style: None }, Ident { value: "a", quote_style: None }]), op: Eq, right: CompoundIdentifier([Ident { value: "df2", quote_style: None }, Ident { value: "a", quote_style: None }]) }, op: And, right: BinaryOp { left: CompoundIdentifier([Ident { value: "df1", quote_style: None }, Ident { value: "b", quote_style: None }]), op: Eq, right: CompoundIdentifier([Ident { value: "df2", quote_style: None }, Ident { value: "b", quote_style: None }]) } }) is not yet supported

In [36]:
df1.join(df2, on=["a", "b"])

shape: (2, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 2   ┆ 3   │
│ 3   ┆ 4   │
└─────┴─────┘