In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

data_folder = "../data/favorita"

In [11]:
temporal = pd.read_csv(f"{data_folder}/train.csv", index_col=0, engine="pyarrow", parse_dates=True)
temporal.head()

          date  store_nbr  item_nbr  unit_sales onpromotion
id
0   2013-01-01         25    103665         7.0        None
1   2013-01-01         25    105574         1.0        None
2   2013-01-01         25    105575         2.0        None
3   2013-01-01         25    108079         1.0        None
4   2013-01-01         25    108701         1.0        None

In [12]:
temporal.dtypes

date            object
store_nbr        int64
item_nbr         int64
unit_sales     float64
onpromotion     object
dtype: object

In [4]:
store_info = pd.read_csv(f"{data_folder}/stores.csv", index_col=0, engine="pyarrow")
store_info.head()

                    city                           state type  cluster
store_nbr
1                  Quito                       Pichincha    D       13
2                  Quito                       Pichincha    D       13
3                  Quito                       Pichincha    D        8
4                  Quito                       Pichincha    D        9
5          Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [5]:
oil = pd.read_csv(f"{data_folder}/oil.csv", index_col=0, engine="pyarrow").iloc[:, 0]
oil.head()

date
2013-01-01      NaN
2013-01-02    93.14
2013-01-03    92.97
2013-01-04    93.12
2013-01-07    93.20
Name: dcoilwtico, dtype: float64

In [6]:
holidays = pd.read_csv(f"{data_folder}/holidays_events.csv", engine="pyarrow")
holidays.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [7]:
items = pd.read_csv(f"{data_folder}/items.csv", index_col=0, engine="pyarrow")
items.head()

                family  class  perishable
item_nbr
96995        GROCERY I   1093           0
99197        GROCERY I   1067           0
103501        CLEANING   3008           0
103520       GROCERY I   1028           0
103665    BREAD/BAKERY   2712           1

In [8]:
transactions = pd.read_csv(f"{data_folder}/transactions.csv", engine="pyarrow")
transactions.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [14]:
temporal["date"] = pd.to_datetime(temporal["date"])